/*
principal: #5397A6

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/resources/images/pexels-vlad-chețan-2923156.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}