/*
principal: #5397A6

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../resources/images/pexels-andre-furtado-1748985.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    height: 20em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #D9C8A9;
}

div > h1 > span {
    color: #F29F05;
}

div > a > button {
    width: 15em;
    height: 2em;
    border-radius: 10px;
    border: none;
    background-color: #343D59;
    color: #D9C8A9;
}

@media only screen and (min-width: 768px) {
    body {
        background-attachment:scroll;
    }


    div {
       position: relative;
       
    }
}

@media only screen and (min-width: 1024px) {
    div > h1 {
        color: #343D59;
    }

    div > a > button {
        height: 4em;
        cursor: pointer;
    }
}

@media only screen and (min-width: 1400px) {

    div > h1 {
        font-size: 45px;
    }
}

@media only screen and (min-width: 2500px) {
    body {
        width: 50%;
        margin: 0 auto;
    }

    div {
        top: 10em;
    }

    div > h1 {
        font-size: 70px;
    }

    div > a > button {
        height: 4em;
        font-size: 30px;
    }
}


