/*
principal: #5397A6

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/resources/images/pexels-andre-furtado-1748985.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    height: 20em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #D9C8A9;
}

div > h1 > span {
    color: #F29F05;
}

div > button {
    width: 15em;
    height: 2em;
    border-radius: 10px;
    border: none;
    background-color: #343D59;
    color: #D9C8A9;
}